/* ---------- Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

/* ---------- Main Body ---------- */
* {
	font-family: 'Lato', sans-serif;
	transition: 0.35s;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

:root {
	--accent-one: 233, 185, 94;
	--accent-two: 121, 208, 183;
	--main-bg-color: 242, 242, 242;
	--secondary-bg: 208, 196, 225;
	--dark-color: 7, 13, 10;
}

body {
	color: #000; /* ---------------------------------------------- */
	background-color: rgb(var(--main-bg-color));
}

a {
	text-decoration: none;
	color: #000; /* ----------------------------------------------- */
}

.content {
	margin: 0 auto;
	width: 45vw;
	border-radius: 10px;
	background-color: #fff; /* -------------------------------------------- */
	box-shadow: 3px 5px 20px rgba(var(--dark-color), 0.2);
	padding: 50px;
	margin-bottom: 40px;
	padding-top: 30px;
}

.content:first-child {
	margin-top: 150px;
}

/* ---------- Navigation ---------- */
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	box-shadow: 0px 0px 5px rgba(var(--dark-color), 0.6);
	z-index: 1;
	background-color: #fff; /* ----------------------------------------------- */
}

nav .title {
	padding: 10px;
	padding-left: 15px; 
	font-size: 2vw;
	display: inline-block;
	margin: 0;
	line-height: 80px;
}

nav ul {
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li{
	display: inline-block;
}

nav ul li a {
	display: block;
	line-height: 100px;
	font-size: 20px;
	padding: 0px 20px 0px 30px;
}

nav ul li button {
	display: block;
	line-height: 100px;
	font-size: 20px;
	padding: 0px 20px 0px 30px;
	border: 0px;
	background-color: #fff; /* ------------------------------- */
	cursor: pointer;
}

/* ---------- Popups ---------- */
.display-box {
	display: none;
	margin: 0 auto;
	width: 300px;
	padding: 20px 30px;
	background-color: #fff; /* --------------------------------------- */
	border-radius: 10px;
	box-shadow: 5px 7px 14px 1px rgb(var(--main-bg-color));
	position: fixed;
	margin-bottom: 40px;
	top: calc(50vh - 200px);
	left: calc(50vw - 180px);
	z-index: 2;
}

.blurbg {
	display: none;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2px);
	z-index: 1;
	background-color: rgb(var(--main-bg-color));
	opacity: .6;
	position: fixed;
	top: 0;
	left: 0;
}

.form {
	text-align: center;
	margin: auto;
	transition: 0.15s;
	width: 300px;
}

.form * {
	width: 300px;
	margin-bottom: 10px;
	margin-top: 0;
	display: block;
}

#create_fundraiser label {
	text-align: left;
}

.form input, .form select, .form button, .form textarea, .form a{
	text-align-last:center;
	padding: 10px 0px;
	border: none;
	background-color: rgb(var(--main-bg-color));
	border-radius: 5px;
}

.form textarea {
	padding: 8px 20px;
	box-sizing: border-box;
	max-width: 300px;
	min-width: 300px;
	min-height: 75px;
}

.close {
	cursor: pointer;
	text-align: right;
	display: inline-block;
	margin: 0;
	font-size: 24px;
	opacity: 0.5;
}

/* ---------- Login ---------- */

.loginpopup .submit{
	background-color: rgb(var(--main-bg-color));
	padding: 8px;
	border: none;
	cursor: pointer;
	width: 46%;
	font-size: 13px;
	display: inline-block
}

.loginpopup a {
	display: inline;
}

.loginpopup select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.loginpopup input[type=number] {
	-webkit-appearance: textfield;
}

#error {
	color: #ff0000; /* ---------------------------- */
	font-size: 15px;
	margin: 0;
	margin-bottom: 5px;
	font-weight: bold;
	animation: error 0.1s .5s 3 none;
}

@keyframes error {
	from {margin-left: -2px;}
	to   {margin-left: 2px;}
}

/* ---------- Display Fundraiser ---------- */

.fundraiser h2, .fundraiser h1 {
	margin-bottom: 5px;
}

.fundraiser .charity {
	font-size: 15px;
	color: rgb(var(--dark-color));
	margin-bottom: 7px;
	font-weight: 900;
}

.fundraiser .blurb {
	font-size: 18px;
	color: #353535; /* ------------------- */
	margin-bottom: 7px;
}

.view {
	margin-top: 30px;
	text-align: center;
	background-color: rgb(var(--main-bg-color));
	border-radius: 5px;
	position: relative;
	left: 80%;
	width: 12%;
	height: 40px;
	line-height: 40px;
}

.view a {
	display: block;
	width: 100%;
	height: 100%;
}

.donate {
	margin-top: 30px;
	text-align: center;
	background-color: rgb(var(--main-bg-color));
	border-radius: 5px;
	position: relative;
	left: 84%;
	width: 17%;
}

.donate .pledge {
	text-align: center;
	background-color: rgba(var(--dark-color), 00);
	box-shadow: 2px 2px 5px 1px rgb(var(--dark-color), 0.2);
	border-radius: 5px;
	border: none;
	width: 100%;
	cursor: pointer;
	padding: 10px 10px;
}


/*
.donate:hover {
	background: #13C86498;
	transform: scaleX(1.7) scaleY(0.8) ;
}

.donate:active {
	background: #64137098;
	transform: scaleX(.7) scaleY(2.5);
	border-radius: 18px;
}*/

.fundraiser #edit {
	float: right;
}

/* ---------- Pledges ---------- */
/* look at https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#pledges {
	width: 50vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.pledges {
	width: 12.5%;
	margin-right: 1.5%;
}

/* ---------- Pledge ---------- */
input[type=number] {
	-webkit-appearance: textfield;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
	display: inline-block;
	float: left;
	margin:5px;
	margin-left: 0;
	width: 23%;
	height: 50px;
	background-color: rgb(var(--dark-color), 0.15);
	border-radius: 6px;
	cursor: pointer;
	line-height: 3;
}

.checkmark:hover {
	background-color: rgb(var(--dark-color), 0.1);
}

.container input:checked ~ .checkmark {
	background-color: rgb(var(--accent-two)); /* Edge support*/
	background-color: rgba(var(--accent-two), 99);
}

.flex {
	display: flex;
	justify-content: flex-start;
}

.flex input {
	max-width: 300px;
	flex: 1 1 300px;
	border-radius: 0 5px 5px 0;
}

.flex .currency {
	color: #999;
	padding-left: 5px;
	border-right: 0;
	line-height: 2.5;
	border-radius: 5px 0 0 5px;
	width: 20px;
	background-color: rgb(var(--main-bg-color));
}

/* ---------- Progress Bar ---------- */
.progress_wrapper {
	border-radius: 15px;
	width: 50%;
	margin: 12px 0px;
	background-color: rgb(var(--main-bg-color));
	font-size: 15px;
	text-align: center;
}

.progress_wrapper .progress {
	text-align:center;
	border-radius: 15px;
	background-color: rgb(var(--accent-two));
	height: 28px;
}

.progress_wrapper  p {
	position: relative;
	left: 45%;
	float: left;
	bottom: 10px;
}

/* ---------- Email Check ---------- */
#emailcheck {
	width: 50%;
	margin: auto;
	text-align: left;
}

#emailcheck #email {
	font-weight: bold;
}

#emailcheck input {
	width: 45%;
}

/* ----- idk y but having this here works -----*/
.submit:hover, .view a:hover {
	color: rgb(var(--dark-color));
	background: rgba(var(--accent-two), 98);
	cursor: pointer;
	border-radius: 5px;
}

.delete_confirm {
	width: 48%;
}

.container input:checked ~ .delete_confirm {
	background-color: rgb(var(--accent-two)); /* Edge support*/
	background-color: rgb(var(--main-bg-color));
}

.delete_confirm:hover {
	background: #c614119f;
}

.delete:hover {
	background: #c614119f;
	cursor: pointer;
}

.close:hover {
	background: #ffffffff; 
}